# App
APP_HOST=0.0.0.0
APP_PORT=8000

# Postgres
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=database
POSTGRES_PORT=5432

# App DB config (SQLModel)
# 1) Single URL
DATABASE_URL=postgresql+psycopg://app_user:change_me@database:5432/app_db

# 2) Split variables
DB_HOST=database
DB_PORT=5432
DB_USER=app_user
DB_PASS=change_me
DB_NAME=app_db

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
